/* MONTSERRAT FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-size: small;
}

/* ====COLOR VARIABLE==== */
:root{
    --primary-color: #c9cacc;
   --second-color: #ffffff;
   --black-color:#000000;

}

body{
    background: url(https://wallpapercave.com/wp/wp6177686.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

/* ====Reusable CSS==== */
a{
    text-decoration: none;
    color: var(--second-color--);
}
a:hover{
    text-decoration: underline;
}
/* ====WRAPPER==== */
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
background-color: rgba(0, 0, 0, 0.2);
} 
* .Login_box{
    position: relative;
    width: 450px;
    backdrop-filter:blur(25px);
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--second-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
.login-header{
    position: absolute;
    top: 0;
    left: 35%;
    transform: translateX(-50);
display: flex;
align-items: center;
justify-content: center;
background-color: var(--primary-color);
width: 140px;
height: 70px;
border-radius: 0 0 20px 20px;

}
.login-header span{
    font-size: 30px;
    color: var(--black-color); */
}
.login-header ::before{
content: "";
position: absolute;
top: 0;
left: -30px;
width: 30px;
height: 30px;
border-top-right-radius: 50%;
background: transparent;
box-shadow: 15px 0 0 0 var(--primary-color);
}
.login-header ::after{
content: "";
position: absolute;
top: 0;
right: -30px;
width: 30px;
height: 30px;
border-top-left-radius: 50%;
background: transparent;
box-shadow: -15px 0 0 0 var(--primary-color);
}
.input_box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 15px 0; 
}
.input-field{
    width: 100%;
    height: 30px;
    font-size: 12px;
    background: transparent;
    color: var(--second-color);
    padding-inline: 20px, 6px;
    border: 2px solid var(--second-color);
    border-radius: 30px;
    padding-left: 10px;
    outline: none;
}
#user{
    margin-bottom: 10px;

    }
.label{
    position: absolute;
    top: 07px;
    left: 15px;
    transition: .2s ease-in-out;
}
.input-field:focus~ .label,
.input-field:valid~ .label
{

    position: absolute;
    top: -8px;
    left: 15px;
    font-size: 12px;
    background-color:var(--primary-color);
    color: var(--black-color);
    padding: 0 10px;
}
.icon{
    position: absolute;
    top: 05px;
    right: 25px;
    font-size: 20px;
}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.input-submit{
    width: 100%;
    height: 50px;
    background: #dedede;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease-in-out

}
.input-submit:hover{
    background-color:var(--second-color);
}
.register{
    text-align: center;
}
.register a{
    font-weight: 600;
}
@media only screen and (max-width:564px){
    .wrapper{
        padding: 20px;
    }
    .Login_box{
        padding: 7.5em 1.5em 4em 1.5em;        
    }
}